<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/uploads/more_details.css">
    <title>Подробнее</title>
</head>
<body>
    <main>
        <br>
        <br>
        <br>
        <div class="post">
            <h2>Заголовок: {{ post.title }}</h2>
            <p>Описание: {{ post.content }}</p>
            <img src="/static/uploads/images/{{post.image}}" width="600px" height="600px">
            <b><p>Цена: {{ post.price }}</p></b>
            <b><p>Номер телефона: <a class="a_number" href="tel:+996{{post.user_number}}">{{ post.user_number }}</a></p></b>
            
            {% if 'user_id' in session and session['user_id'] == post.user_id %}
                <div class="create_delete">
                    <p><a href="{{ url_for('edit_post', post_id=post.id) }}">Изменить</a></p>
                    <p><a href="{{ url_for('delete_post', post_id=post.id) }}" onclick="return confirm('Вы уверены, что хотите удалить эту запись?')">Удалить</a></p>
                </div>
            {% endif %}
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>   
    </main>
</body>
</html>
